a:focus {
	outline: thin dotted;
}
..main-navigation .toggle-btn:focus{
    outline: 1px dotted #000;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus, 
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: transparent;
	color: #d95c5c;
}

.nav-links .nav-previous > a:focus, 
.nav-links .nav-next > a:focus {
	background: #d95c5c;
	color: #fff;
}

.page-links a:focus .page-num-links {
	color: #d95c5c;
    border: 1px solid #d95c5c;
}

.reply a:focus {
	color: #fff;
	background: #d95c5c;
}

#go-to-top:focus {
	background: rgba(0, 0, 0, 0.75);
}

.bttn:focus {
	background: #fff;
	color: #d95c5c;
}

.button:focus {
    background-color: transparent;
    color: #d95c5c;
    text-shadow: none;
}

.element-item:focus::after {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	transform: scale(1);
    -webkit-transform: scale(1);
}

.ed-grid-focus {
    color: #fff;
    left: 0;
    line-height: initial;
    margin-top: -100px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
}

.element-item:focus .ed-grid-focus {
	opacity: 1;
	filter: alpha(opacity= 100);
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s; 
}

.bx-wrapper .bx-controls-direction a:focus {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
}

.bx-wrapper .bx-prev:focus::before {
	left: 0;
	opacity: 1;
	filter: alpha(opacity= 100);
}

.bx-wrapper .bx-prev:focus::after{
	left: -100px;
	opacity: 0;
}

.bx-wrapper .bx-next:focus::before {
	left: 0;
}

.bx-wrapper .bx-next:focus::after{
	right: -100px;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #d95c5c;
}

.site-header .site-title a:focus {
	color: #fff;
}

.main-navigation ul li a:focus:before, 
.main-navigation ul li.active a:before, 
.main-navigation ul li a:focus:after, 
.main-navigation ul li.active a:after,
.main-navigation ul li.current-menu-item > a:before, 
.main-navigation ul li.current_page_item > a:before, 
.main-navigation ul li.current-menu-item a:after, 
.main-navigation ul li.current_page_item a:after {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

.site-header .main-navigation ul li:focus-within > ul {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
}

.site-header .ed-search-wrap .fa:focus {
	background: rgba(255, 255, 255, 0.7);
	color: #333;
}

.site-header .ed-search .search-form .search-submit:focus {
	background: #fff;
	border-color: #fff;
	color: #f95c5c;
}

.eight_sec_plx_slider_section .slide-caption .slide-content .slide-readmore:focus {
	background: #d95c5c;
	color: #fff;
	border-color: #d95c5c;
}

.eight_sec_plx_about_section .section-content:focus .about-image {
	background: #d95c5c;
}

.eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img:focus::after {
	opacity: 1;
	filter: alpha(opacity= 100);
	visibility: visible;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img:focus .portfolio-content-wrap {
	opacity: 1;
	filter: alpha(opacity= 100);
    visibility: visible;
    transform: scale(1) translateY(-50%);
    -webkit-transform: scale(1) translateY(-50%);
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
}

.portfolio-content-wrap .portfolio-title a:focus {
	color: #ff9797;
}
.portfolio-content-wrap .portfolio-title a:focus:after {
	background: #ff9797;
}

.team-wrap .team-content-img .team-content-wrap .team-title a:focus::after {
	background: #d95c5c;
}

.eight_sec_plx_blog_section .bttn:focus, .eight_sec_plx_team_section .bttn:focus {
	background: transparent;
	color: #d95c5c;
}

.blog-wrap .blog-content-img:focus .blog-image:after {
	width: 100%;
}

.blog-content-wrap .blog-title a:focus::after {
	background: #d95c5c;
	width: 40%;
}

.eight_sec_plx_testimonial_section .slide .testimonial-title a:focus {
	color: #ffaaaa;
}

.social-icons a.facebook:focus {
	background: #385c9a;
	border-color: #385c9a;
}
.social-icons a.twitter:focus {
	background: #24abe2;
	border-color: #24abe2;
}
.social-icons a.gplus:focus {
	background: #dd4c37;
	border-color: #dd4c37;
}
.social-icons a.youtube:focus {
	background: #c93033;
	border-color: #c93033;
}
.social-icons a.pinterest:focus {
	background: #cc2129;
	border-color: #cc2129;
}
.social-icons a.linkedin:focus {
	background: #0d7cc1;
	border-color: #0d7cc1;
}
.social-icons a.flickr:focus {
	background: #f2178f;
	border-color: #f2178f;
}
.social-icons a.vimeo:focus {
	background: #20b7ec;
	border-color: #20b7ec;
}
.social-icons a.instagram:focus {
	background: #5084a9;
	border-color: #5084a9;
}
.social-icons a.tumblr:focus {
	background: #2f516c;
	border-color: #2f516c;
}
.social-icons a.delicious:focus {
	background: #3399fe;
	border-color: #3399fe;
}
.social-icons a.rss:focus {
	background: #faa936;
	border-color: #faa936;
}
.social-icons a.github:focus {
	background: #000000;
	border-color: #000000;
}
.social-icons a.skype:focus {
	background: #1fb1e0;
	border-color: #1fb1e0;
}

.widget_calendar table tfoot tr td#prev a:focus, 
.widget_calendar table tfoot tr td#next a:focus {
	background: #d95c5c;
	color: #fff;
}

article .ed-readmore a:focus {
    background: transparent none repeat scroll 0 0;
    color: #d95c5c;
}

.wp-block-categories a:focus,
.wp-block-archives a:focus,
.wp-block-latest-posts a:focus  {
	color: #1c9cdb;
}