ul, ol{
    margin: 0 3em 1.5em 0 ;
}

li > ul, li > ol{
    margin-right: 1.5em;
    margin-left: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"]{
    background: #d95c5c none repeat scroll right  0;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous{
    float: right;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next{
    float: left;
    text-align: left;
}

.nav-links .nav-previous > a,  .nav-links .nav-next > a{
    background: #ddd none repeat scroll right  0;
}

.screen-reader-text:focus{
    right: 5px;
    left: auto;
}

.alignleft{
    float: right;
    margin-left: 1.5em;
    margin-right: auto;
}

.alignright{
    float: left;
    margin-right: 1.5em;
    margin-left: auto;
}

.aligncenter{
    margin-right: auto;
    margin-left: auto;
}

.wp-caption img[class*="wp-image-"]{
    margin-right: auto;
    margin-left: auto;
}

.comments-title{
    margin: 0px 0 15px 0 ;
}

.comments-area ol.children{
    margin-right: 20px;
    margin-left: auto;
}

.comment-awaiting-moderation{
    left: 0;
    right: auto;
}

.reply a{
    background: #ddd none repeat scroll right  0;
}

.comment-respond h3{
    background: #ddd none repeat scroll right  0;
}

#go-to-top{
    left: 0px;
    right: auto;
}

.eight_sec_plx_about_section .section-title h2::after,  .eight_sec_plx_portfolio_section .section-title h2:after,  .eight_sec_plx_team_section h2.team-sec:after,  .eight_sec_plx_cta_section h2.cta-sec:after,   .eight_sec_plx_blog_section h2.blog-sec:after,  .eight_sec_plx_testimonial_section h2.testimonial-sec:after,  .eight_sec_plx_contact_section h2.contact-sec:after{
    right: 0;
    left: 0;
}

.single .entry-title:after, .widget-title:after, .page-title:after{
    right: 0;
    left: auto;
}

.widget ul li::before{
    right: 0;
    left: auto;
    content: "\f104";
}

.widget ul li{
    padding-right: 15px;
    padding-left: 0;
}

#primary{
    float: right;
    padding-left: 30px;
    padding-right: 0;
}

#secondary{
    float: left;
}

.sort-table ul{
    margin: 0 0 20px 0 ;
    padding: 0 0 10px 0 ;
}

.button-group .button{
    margin-left: 0px;
}

.button{
    background: rgba(0, 0, 0, 0) none repeat scroll right  0;
}

.element-item::after{
    background: rgba(0, 0, 0, 0.5) none repeat scroll right  0;
    right: 10px;
    left: 10px;
}

.ed-grid-hover{
    right: 0;
    left: 0;
}

.bx-wrapper .bx-viewport{
    background: rgba(0, 0, 0, 0) none repeat scroll right  0;
    right: 0;
    left: auto;
}

.bx-wrapper .bx-controls-direction a{
    background: rgba(255, 255, 255, 0.3) none repeat scroll right  0;
}

.bx-wrapper .bx-controls-direction a:hover{
    background: rgba(255, 255, 255, 0.7) none repeat scroll right  0;
}

.bx-wrapper .bx-prev{
    right: 0;
    left: auto;
}

.bx-wrapper .bx-prev::after, .bx-wrapper .bx-prev::before{
    right: 0;
    left: 0;
    content: '\f105';
}

.bx-wrapper .bx-prev::before{
    right: 100px;
    left: auto;
}

.bx-wrapper .bx-prev:hover::before{
    right: 10px;
    left: auto;
}

.bx-wrapper .bx-prev:hover::after{
    right: -100px;
    left: auto;
}

.bx-wrapper .bx-next{
    left: 0;
    right: auto;
}

.bx-wrapper .bx-next::after, .bx-wrapper .bx-next::before{
    right: 0;
    left: 0;
    content: '\f104';
}

.bx-wrapper .bx-next::before{
    right: -100px;
    left: auto;
}

.bx-wrapper .bx-next:hover::before{
    right: 15px;
    left: auto;
}

.bx-wrapper .bx-next:hover::after{
    left: -100px;
    right: auto;
}

.site-header{
    right: 0;
    left: 0;
}

.site-header .site-branding{
    padding-left: 20px;
    padding-right: 0;
}

.site-header .main-navigation{
    text-align: left;
}

.main-navigation ul li a:before{
    right: 0;
    left: 0;
}

.main-navigation .menu > li > a:after{
    right: 0;
    left: 0;
}

.site-header .main-navigation ul ul{
    background: rgba(0, 0, 0, 0.75) none repeat scroll right  0;
    right: 0;
    left: auto;
    text-align: right;
}

.site-header .main-navigation ul ul ul{
    right: 100%;
    left: auto;
}

.site-header .ed-search{
    background: rgba(0, 0, 0, 0.75) none repeat scroll right  0;
    right: 0;
    left: 0;
}

.site-header .ed-search .search-close{
    left: 40px;
    right: auto;
}

.site-header .ed-search .search-form{
    right: 0;
    left: 0;
}

.site-header.logo-right .site-branding{
    float: left;
    padding-right: 20px;
    padding-left: 0;
    text-align: left;
}

.site-header.logo-right .main-navigation{
    text-align: right;
}

.site-header.logo-right .ed-search-wrap{
    float: right;
}

.eight_sec_plx_slider_section .slide:after{
    right: 0;
    left: 0;
}

.eight_sec_plx_slider_section .slide-caption{
    right: 0;
    left: 0;
}

.eight_sec_plx_slider_section .slide-caption .caption-title:after{
    right: 0;
    left: 0;
}

.eight_sec_plx_slider_section .slide-caption .slide-content .slide-readmore{
    background: transparent none repeat scroll right  0;
}

.eight_sec_plx_about_section .section-content{
    float: right;
}

.eight_sec_plx_about_section .section-content .about-image{
    background: #f6f6f6 none repeat scroll right  0;
}

.eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img::after{
    background: rgba(0, 0, 0, 0.6) none repeat scroll right  0;
    right: 10px;
    left: 10px;
}

.eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img .portfolio-content-wrap{
    right: 10px;
    left: 10px;
    -webkit-transform: translateY( -50% );
    -ms-transform: translateY( -50% );
    -o-transform: translateY( -50% );
    transform: translateY( -50% );
}

.portfolio-content-wrap .portfolio-title a::after{
    background: #fff none repeat scroll right  0;
    right: 0;
    left: 0;
}

.eight_sec_plx_team_section .team-description{
    margin: 20px auto 40px auto ;
}

.team-wrap .team-content-img{
    float: right;
}

.team-wrap .team-content-img:nth-child(3n){
    margin-left: 0;
}

.team-wrap .team-content-img .team-content-wrap{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.team-wrap .team-content-img .team-content-wrap .team-title a::after{
    background: #313131 none repeat scroll right  0;
    right: 0;
    left: 0;
}

.eight_sec_plx_cta_section:after{
    right: 0;
    left: auto;
}

.eight_sec_plx_cta_section .cta-description{
    margin: 0 0 50px 0 ;
}

.eight_sec_plx_blog_section .bttn, .eight_sec_plx_team_section .bttn{
    background: #d95c5c none repeat scroll right  0;
}

.blog-wrap{
    text-align: right;
}

.blog-wrap .blog-content-img{
    float: right;
}

.blog-wrap .blog-content-img:nth-child(3n){
    margin-left: 0;
}

.blog-wrap .blog-content-img .blog-image:after{
    right: 0;
    left: auto;
}

.blog-content-img .blog-content-wrap{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.blog-content-wrap .blog-title a::after{
    background: #808080 none repeat scroll right  0;
    right: 0;
    left: auto;
}

.eight_sec_plx_blog_section .blog-footer{
    padding: 20px 0 0 0 ;
}

.eight_sec_plx_blog_section .blog-footer .blog-footer-left{
    float: right;
    padding-left: 10px;
    padding-right: 0;
}

.eight_sec_plx_blog_section .blog-footer .blog-footer-right{
    float: left;
    padding-right: 10px;
    padding-left: 0;
    text-align: left;
}

.eight_sec_plx_testimonial_section:after{
    right: 0;
    left: auto;
}

.eight_sec_plx_contact_section .contact-form form p,  .eight_sec_plx_contact_section .contact-form form div.ufbl-form-field-wrap{
    text-align: right;
}

footer.site-footer{
    background: #3e3e3e none repeat scroll right  0;
}

.top-footer .footer-block{
    float: right;
}

.widget_calendar table caption{
    background: #d95c5c none repeat scroll right  0;
}

.widget_calendar table tfoot tr td#prev a{
    text-align: right;
}

.widget_calendar table tfoot tr td#next a{
    text-align: left;
}

.widget_calendar table tbody tr td#today a{
    background: #666 none repeat scroll right  0;
}

.widget.widget_search{
    text-align: left;
}

.widget_search .search-form label{
    float: right;
}

.widget_search .search-submit{
    float: right;
}

.archive article .ed-readmore a{
    background: #d95c5c none repeat scroll right  0;
}

.archive article .ed-readmore a:hover{
    background: transparent none repeat scroll right  0;
}

.archive article .entry-content{
    background: #eee none repeat scroll right  0;
}

.archive article .entry-content .archive-content, .archive article .entry-content .entry-footer{
    padding-right: 15px;
    padding-left: 15px;
}

.archive .blog_image_medium article figure,  .archive .blog_image_alt_medium article figure{
    float: right;
    padding-right: 15px;
    padding-left: 0;
}

.archive .blog_image_alt_medium article:nth-child(odd) figure{
    float: left;
    padding-right: 0;
    padding-left: 15px;
}

.archive .blog_image_medium article .archive-content,  .archive .blog_image_alt_medium article .archive-content{
    float: right;
    padding-right: 20px;
    padding-left: 0;
}

.archive .blog_image_alt_medium article:nth-child(odd) .archive-content{
    float: right;
    padding-right: 15px;
    padding-left: 20px;
}

.search.search-no-results .no-results form{
    text-align: left;
}

.error404 #primary{
    padding-left: 0;
}

.error-404-text p{
    text-align: left;
}

@media only screen and (min-width: 768px){
    .alignfull{
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
    }

    .alignwide{
        margin-right: calc(25% - 25vw);
        margin-left: calc(25% - 25vw);
    }

    .left-sidebar .alignfull, .left-sidebar .alignwide,  .right-sidebar .alignfull, .right-sidebar .alignwide{
        margin-right: 0;
        margin-left: 0;
    }

}

.wp-block-gallery.alignnone{
    margin-right: 0;
}

.wp-block-pullquote blockquote:before{
    right: 0;
    left: 0;
}

.wp-block-pullquote blockquote{
    border-right: none;
    border-left: none;
}

.wp-block-quote{
    padding: 20px 75px 20px 20px ;
}

.wp-block-quote.is-large,  .wp-block-quote.is-style-large{
    padding: 20px 75px 20px 20px ;
}

@media screen and (max-width: 1170px){
    .site-header, .eight_sec_plx_slider_section .slide-caption .slide-content, .eight_sec_plx_about_section, .eight_sec_plx_portfolio_section,  .eight_sec_plx_team_section, .eight_sec_plx_cta_section, .eight_sec_plx_blog_section, .eight_sec_plx_testimonial_section,  .eight_sec_plx_contact_section, .top-footer, .site-footer .site-info{
        padding-right: 10px;
        padding-left: 10px;
    }

    #primary{
        padding-right: 10px;
    }

    .no-sidebar #primary{
        padding-right: 10px;
        padding-left: 10px;
    }

    #secondary{
        padding-left: 10px;
        padding-right: 0;
    }

}

@media screen and (max-width: 980px){
    .site-header .ed-search-wrap{
        text-align: left;
    }

    .main-navigation .toggle-btn{
        float: left;
    }

    .main-navigation .toggle-btn .toggle-bar{
        right: 6px;
        left: 6px;
    }

    .site-header .main-navigation ul{
        background: #313131 none repeat scroll right  0;
        left: 0;
        right: auto;
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
    }

    .site-header .main-navigation ul ul{
        padding: 0 0 0 10px ;
        text-align: left;
    }

    .site-header.logo-center .main-navigation{
        text-align: left;
    }

    .logo-center .toggled .toggle-btn{
        left: 10px;
        right: auto;
    }

}

@media screen and (max-width: 800px){
    .eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img::after{
        left: 5px;
        right: 5px;
    }

    .eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img .portfolio-content-wrap{
        left: 5px;
        right: 5px;
    }

    #primary{
        padding-left: 10px;
        padding-right: 10px;
    }

    .error404 #primary{
        padding-left: 10px;
        padding-right: 0;
    }

    #secondary{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and ( min-width: 600px ){
    .wp-block-columns .wp-block-column{
        margin-right: 0;
        margin-left: 0;
    }

}

@media screen and ( min-width: 782px ){
    .wp-block-columns .wp-block-column{
        margin-right: 0;
        margin-left: 0;
    }

}

@media screen and (max-width: 540px){
    .eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img::after{
        left: 0;
        right: 0;
    }

    .eight_sec_plx_portfolio_section .portfolio-wrap .portfolio-content-img .portfolio-content-wrap{
        left: 0;
        right: 0;
    }

    .element-item{
        left: 0;
        right: auto;
    }

    .archive .blog_image_alt_medium article:nth-child(odd) figure{
        padding-right: 15px;
        padding-left: 0;
    }

    .archive .blog_image_medium article figure,  .archive .blog_image_alt_medium article figure{
        padding-left: 15px;
        padding-right: 0;
    }

}